include AUTHORS.rst
include HISTORY.rst
include README.rst
include requirements.txt
include wowhua_admin/conf/*.ini
recursive-include wowhua_admin *.py
recursive-exclude wowhua_admin *.pyc
recursive-include wowhua_admin/translations *
recursive-include wowhua_admin/templates *
recursive-include wowhua_admin/static *
