{% extends 'admin/master.html' %}
{% block head_tail %}
    <audio id = "bgsnd1" src="" autoplay="autoplay" loop="loop">
        Your browser does not support the audio element.
    </audio>
    <audio id = "bgsnd2" src="" autoplay="autoplay" loop="loop"></audio>
    <audio id = "bgsnd3" src="" autoplay="autoplay" loop="loop"></audio>
    <audio id = "bgsnd4" src="" autoplay="autoplay" loop="loop"></audio>
    <script language="JavaScript" src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script language="JavaScript">
        Date.prototype.format = function(format){
var o = {
"M+" : this.getMonth()+1, //month
"d+" : this.getDate(), //day
"h+" : this.getHours(), //hour
"m+" : this.getMinutes(), //minute
"s+" : this.getSeconds(), //second
"q+" : Math.floor((this.getMonth()+3)/3), //quarter
"S" : this.getMilliseconds() //millisecond
}

if(/(y+)/.test(format)) {
format = format.replace(RegExp.$1, (this.getFullYear()+"").substr(4 - RegExp.$1.length));
}

for(var k in o) {
if(new RegExp("("+ k +")").test(format)) {
format = format.replace(RegExp.$1, RegExp.$1.length==1 ? o[k] : ("00"+ o[k]).substr((""+ o[k]).length));
}
}
return format;
}
    function start_alarm(alarm){
        switch (alarm){
            case 6:
                $("audio#bgsnd1").attr('src', "{{ url_for('static', filename='mp3/swh.mp3') }}" );
                break;
            case 7:
                $("audio#bgsnd2").attr('src', "{{ url_for('static', filename='mp3/wsp.mp3') }}" );
                break;
            case 8:
                $("audio#bgsnd3").attr('src', "{{ url_for('static', filename='mp3/xcf.mp3') }}" );
                break;
            default :
                $("audio#bgsnd4").attr('src', "{{ url_for('static', filename='mp3/swh.mp3') }}" );
                break;
        }
    }

    function stop_alarm(){
        $('audio').attr('src', "" );
    }

    function get_link(alarm_id, lottery_code){
        var return_link="";
        var return_text="";

        switch (alarm_id){
            case 7:
                return_link = "{{ url_for('post_timeout_ticket.index_view') }}?flt1_40=" + lottery_code;
                return_text = "{{ _('Post Timeout Link') }}";
                break;
            case 6:
                return_link = "{{ url_for('waiting_ticket.index_view') }}?flt1_40=" + lottery_code;
                return_text = "{{ _('Waiting Ticket Link') }}";
                break;
            case 8:
                return_link = "{{ url_for('return_timeout_ticket.index_view') }}?flt1_40=" + lottery_code;
                return_text = "{{ _('Return Timeout Link') }}";
                break;
            case 12:
                return_link = "{{ url_for('not_returned_ticket.index_view') }}?flt1_40=" + lottery_code;
                return_text = "{{ _('Not Returned Link') }}";
                break;
            case 4:
                return_link = "{{ url_for('failed_ticket.index_view') }}?flt1_40=" + lottery_code;
                return_text = "{{ _('Failed Link') }}";
                break;
            case 11:
                return_link = "{{ url_for('provider.index_view') }}?flt1_40=" + lottery_code;
                return_text = "{{ _('Provider Link') }}";
                break;
            case 0:
                return_link = "{{ url_for('ticket.index_view') }}?flt1_12=0&flt2_40=" + lottery_code;
                return_text = "{{ _('Queueing Link') }}";
                break;
            case 13:
                return_link = "{{ url_for('not_sent_ticket.index_view') }}?flt1_40=" + lottery_code;
                return_text = "{{ _('Not_sent Link') }}";
                break;
            default :
                break;
        }
        if (return_text != ""){
            return "<a href='" + return_link + "' target='view_window'>" + return_text + "</a>";
        }
        else{
            return "";
        }
    }

    function get_alarm_name(alarm_name){
        var return_val = alarm_name;
        switch (alarm_name){
            case 7:
                return_val = '{{ _("Post Time Out Tickets") }}';
                break;
            case 0:
                return_val = '{{ _("Queueing Tickets") }}';
                break;
            case 8:
                return_val = '{{ _("Return TimeOut Tickets") }}';
                break;
            case 6:
                return_val = '{{ _("Waiting Tickets") }}';
                break;
            case 12:
                return_val = '{{ _("Not Returned Tickets") }}';
                break;
            case 4:
                return_val = '{{ _("failed tickets since the last 24 hours.") }}';
                break;
            case 11:
                return_val = '{{ _("Balance") }}';
                break;
            case 13:
                return_val = '{{ _("Not_sent tickets in 5 minutes") }}';
                break;

            default :
                return_val = alarm_name;
                break;
        }
        return return_val
    }

    function check_alarm(alarm){
        if (alarm.is_bell_ring == true){
            start_alarm(alarm.id);
            return "<b><font size=5 color='red'>{{ _('Alarming') }}</font></b>"
        } else {
            return ""
        }

    }

    function get_alarm_basis(alarm){
        if (alarm.alarm_rule_id != null){
            var link_url = "{{ url_for('alarm_rule.index_view') }}?flt1_0=" + alarm.alarm_rule_id
            return "<a href=" + link_url + ">" + alarm.alarm_basis + "</a>"
        } else {
            return alarm.alarm_basis
        }
    }

    function load_info(){
        stop_alarm();
        $.getJSON( '{{ url_for('admin_alarm2.alarm2') }}'
            , function(data) {
            $('tbody#ticket_alarm_table').html("");
            $('tbody#balance_alarm_table').html("");
            ticket_alarms = data['ticket_alarms'];
            balance_alarms = data['balance_alarms'];
            for (i in ticket_alarms){
                alarm = ticket_alarms[i]
                if (alarm.provider_name == null){
                    alarm.provider_name = '';
                }
                $('tbody#ticket_alarm_table').append(
                    "<tr>   \
                         <td>" + get_alarm_name(alarm.alarm_id)   + "</td> \
                         <td>" + alarm.provider_name + "</td> \
                         <td>" + alarm.lottery_name   + "</td> \
                         <td>" + alarm.value   + "</td> \
                         <td>" + get_alarm_basis(alarm) + "</a></td> \
                         <td>" + check_alarm(alarm)   + "</td> \
                         <td>" + get_link(alarm.alarm_id, alarm.lottery_code)   + "</td> \
                    </tr>"
                )
            }
            for (i in balance_alarms){
                alarm = balance_alarms[i]
                $('tbody#balance_alarm_table').append(
                    "<tr>   \
                         <td>" + get_alarm_name(alarm.alarm_id)   + "</td> \
                         <td>" + alarm.provider_name   + "</td> \
                         <td>" + alarm.value   + "</td> \
                         <td>" + get_alarm_basis(alarm) + "</a></td> \
                         <td>" + check_alarm(alarm)   + "</td> \
                         <td>" + get_link(alarm.alarm_id)   + "</td> \
                    </tr>"
                )
            }

            });
            wait_time = {{ interval }}
    }
    var wait_time = {{ interval }}
    setInterval(function(){
        wait_time = wait_time-1;
        if (wait_time == 0){
            load_info()
        }
        $("#refresh_bt").text("{{ _('Refresh') }}" + "(" + wait_time + ")" );
    }, 1000);

    load_info();
    </script>
{% endblock %}

{% block body %}
    <div class="pull-right">
        <button id="refresh_bt" class="btn btn-danger" type="submit" onclick="load_info()">{{ _('Refresh') }}(30) </button>
        <button class="btn btn-danger" type="submit" onclick="stop_alarm()">{{ _('Stop Alarm') }}</button>
    </div>

    <table class="table table-striped table-bordered model-list">
    <thead>
        <tr>
            <th>   {{ _('Alarm Name') }} </th>
            <th>   {{ _('Provider') }} </th>
            <th>   {{ _('Lottery Code') }} </th>
            <th>   {{ _('Count Num') }} </th>
            <th>   {{ _('Alarm Num') }} </th>
            <th>   {{ _('Alarm Status') }} </th>
            <th>   {{ _('Link') }} </th>
        </tr>
    </thead>
    <tbody id = 'ticket_alarm_table'>
    </tbody></table>
   <table class="table table-striped table-bordered model-list">
    <thead>
        <tr>
            <th>   {{ _('Alarm Name') }} </th>
            <th>   {{ _('Provider') }} </th>
            <th>   {{ _('Balance') }} </th>
            <th>   {{ _('Alarm Num') }} </th>
            <th>   {{ _('Alarm Status') }} </th>
            <th>   {{ _('Link') }} </th>
        </tr>
    </thead>
    <tbody id = 'balance_alarm_table'>
    </tbody></table>
{% endblock %}
